@value colorPrimary1, colorNeutral1, colorNeutral5, colorNeutral10, fontBody from '../../theme/constants.module.css';

.HamburgerMenu {
    display: none;
    z-index: 10;
}

.menuToggle {
    display: block;
    position: relative;
    /* top: 8.5rem;
    right: 10rem; */

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

.menuToggle a {
    text-decoration: none;
    color: colorNeutral1;

    transition: color 0.3s ease;
}

.menuToggle a:hover {
    color: colorPrimary1;
}

.menuToggle input {
    display: block;
    width: 4rem;
    height: 3.2rem;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
.menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: colorNeutral5;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menuToggle span:first-child {
    transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: colorNeutral1;
}

/*
 * But let's hide the middle one.
 */
.menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top right of the screen
 */
.menu {
    background: colorNeutral10;
    border-radius: 1rem;
    box-shadow: -4px 4px 6px hsla(0, 0%, 0%, 0.1);
    margin: -12rem 0 0 -17rem;
    padding: 5rem;
    padding-top: 14.5rem;
    position: absolute;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.75s cubic-bezier(0.77, 0.2, 0.05, 1);
    width: 50rem;
    visibility: hidden;
}

.menu li {
    padding: 1rem 0;
    font-family: fontBody;
    font-size: 2.2rem;
}

/*
 * And let's slide it in from the right
 */
.menuToggle input:checked ~ ul {
    transform: none;
    visibility: visible;
}

@media only screen and (max-width: 950px) {
    .HamburgerMenu {
        display: block;
    }
}
