@value constants: '../../theme/constants.module.css';
@value (
    colorPrimary1,
    colorNeutral1,
    colorNeutral5,
    colorNeutral10,
    colorGreen5,
    bRadius,
    fontHead,
    fs24,
    bpMedium) from constants;

.HamburgerMenu {
    display: none;
    z-index: 10;
}

.activeLink .item {
    color: colorGreen5;
}

.menuToggle {
    display: block;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    z-index: 1;
}

.menuToggle .menuLink {
    color: colorNeutral1;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menuToggle .menuLink:hover {
    color: colorPrimary1;
}

.menuToggle input {
    cursor: pointer;
    display: block;
    height: 3.2rem;
    left: -5px;
    opacity: 0; /* hide this */
    position: absolute;
    top: -7px;
    width: 4rem;
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

/*
 * Now let's build our hamburger (I'm hungry)
 */
.menuToggle span {
    background: colorNeutral5;
    border-radius: 3px;
    display: block;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    width: 33px;
    z-index: 1;
}

.menuToggle span:first-child {
    transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark (X marks the spot ;) ).
 */
.menuToggle input:checked ~ span {
    background: colorNeutral1;
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
}

/*
 * But let's hide the middle one.
 */
.menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top right of the screen
 */
.menu {
    background: colorNeutral10;
    border-radius: bRadius;
    box-shadow: -4px 4px 6px hsla(0, 0%, 0%, 0.1);
    margin: -12rem 0 0 -17rem;
    padding: 5rem;
    padding-top: 14.5rem;
    position: absolute;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.75s cubic-bezier(0.77, 0.2, 0.05, 1);
    width: 50rem;
}

.menu li {
    color: colorPrimary1;
    font-family: fontHead;
    font-size: fs24;
    font-weight: 700;
    padding: 1rem 0;
}

/*
 * And let's slide it in from the right
 */
.menuToggle input:checked ~ ul {
    transform: none;
}

@media only screen and (max-width: bpMedium) {
    .HamburgerMenu {
        display: block;
    }
}
