@value colorNeutral10 from '../../theme/constants.module.css';

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        'first  first  first  first  second second'
        'first  first  first  first  second second'
        'first  first  first  first  third  third'
        'fourth fourth fifth  fifth  third  third'
        'fourth fourth fifth  fifth  third  third';
    grid-gap: 2rem;
    grid-auto-flow: dense;
    grid-auto-rows: 15rem;
}

.parent > * {
    align-items: flex-end;
    border-radius: 1rem;
    color: colorNeutral10;
    display: flex;
}

.div1 {
    grid-area: first;
}
.div2 {
    grid-area: second;
}
.div3 {
    grid-area: third;
}
.div4 {
    grid-area: fourth;
}
.div5 {
    grid-area: fifth;
}
