@value colorNeutral10 from '../../theme/constants.module.css';

.parent {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(2rem, 1fr));
    grid-row-gap: 2rem;
    grid-auto-columns: 200px;
    grid-auto-rows: 100px;
}

.parent > * {
    align-items: flex-end;
    border-radius: 1rem;
    color: colorNeutral10;
    display: flex;
}

.div1 {
    grid-area: 1 / 1 / 7 / 5;
    font-size: 3rem;
}
.div2 {
    grid-area: 1 / 5 / 5 / 7;
}
.div3 {
    grid-area: 5 / 5 / 9 / 7;
}
.div4 {
    grid-area: 7 / 1 / 9 / 3;
}
.div5 {
    grid-area: 7 / 3 / 9 / 5;
}
.div6 {
    grid-area: 9 / 5 / 11 / 7;
}
