@value constants: '../../theme/constants.module.css';
@value colorPrimary3, fontHead, fs48 from constants;

.Title {
    color: colorPrimary3;
    font-family: fontHead;
    font-size: fs48;
    margin-bottom: 4rem;
}

.page {
    font-weight: 700;
}

.news {
    font-weight: 300;
    margin-left: 1.5rem;
}
