@value colorPrimary3, fontHead from '../../theme/constants.module.css';

.Title {
    color: colorPrimary3;
    font-family: fontHead;
    font-size: 4.8rem;
    margin-bottom: 4rem;
}

.page {
    font-weight: 800;
}

.news {
    font-weight: 300;
    margin-left: 1.5rem;
}
