@value constants: '../../theme/constants.module.css';
@value colorPrimary5, colorPrimary1, colorGreen5, bpMedium, fs20 from constants;

.MenuList {
    display: flex;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: fs20;
}

.item {
    color: colorPrimary5;
    text-decoration: none;
}

.item:not(:last-of-type) {
    margin-right: 6rem;
}

.item:hover {
    color: colorPrimary1;
    cursor: pointer;
    transition: 0.25s;
}

.activeLink {
    color: colorGreen5;
}

@media only screen and (max-width: bpMedium) {
    .MenuList {
        display: none;
    }
}
