.Navbar {
    align-items: center;
    display: flex;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.logo {
    height: 5rem;
}

.Navbar__menu {
    display: flex;
}
