.Navbar {
    align-items: center;
    display: flex;
    font-family: futura-pt, sans-serif;
    font-weight: 400;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.logo {
    cursor: pointer;
    height: 10rem;
}

.Navbar__menu {
    display: flex;
}
