@value constants: '../../../theme/constants.module.css';
@value colorPrimary8, colorNeutral10, fontHead, bpMedium, bpSmall from constants;

.articleImage {
    border-radius: 1rem;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transform: scale(1.1);
    width: 100%;
}

.articleImage:hover {
    transform: scale(1);
    transition: ease-in 0.15s;
}

.articleInfo {
    background: rgba(0, 0, 0, 0.8); /* 80% opacity for Firefox */
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
    padding: 3rem;
    position: relative;
    width: 100%;
}

/* if backdrop support: very transparent and blurred */
@supports (
    (-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem))
) {
    .articleInfo {
        background: rgba(
            0,
            0,
            0,
            0.5
        ); /* 50% opacity for all supporting browsers */
        -webkit-backdrop-filter: blur(1rem);
        backdrop-filter: blur(1rem);
    }
}

.articleTitle {
    color: colorNeutral10;
    font-family: fontHead;
    font-size: 2rem;
}

.articleDate {
    color: colorPrimary8;
    font-size: 1.2rem;
    margin-top: 1.5rem;
}
