@value colorNeutral10, fontHead from '../../../theme/constants.module.css';

.articleImage {
    border-radius: 1rem;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transform: scale(1.1);
    width: 100%;
}

.articleImage:hover {
    transform: scale(1);
    transition: ease-in 0.15s;
}

.articleInfo {
    background: rgba(0, 0, 0, 0.66);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    max-height: 25%;
    overflow: hidden;
    padding: 3rem;
    position: relative;
    width: 100%;
}

.articleTitle {
    font-family: fontHead;
    font-size: 2rem;
}

.articleDate {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}
