@value colorPrimary3, colorNeutral1, colorNeutral7, colorNeutral5, colorNeutral8, colorNeutral10, fontHead from '../../../theme/constants.module.css';

.ImplicitGridItem {
    background: colorNeutral8;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    overflow: hidden;
}

.ImplicitGridItem:hover {
    background: colorNeutral7;
    transition: ease-in 0.2s;
}

.ImplicitGridItem:hover .articleTitle {
    color: colorNeutral10;
    transition: ease-in 0.2s;
}

.articleInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    width: 100%;
}

.supportingInfo {
    display: flex;
    justify-content: space-between;
}

.articleTitle {
    color: colorNeutral1;
    font-family: fontHead;
    font-size: 1.8rem;
}

.articleDate {
    color: colorPrimary3;
    font-size: 1.1rem;
}

.articleSection {
    color: colorNeutral5;
}
