@value constants: '../../../theme/constants.module.css';
@value (colorPrimary3,
    colorNeutral1,
    colorNeutral7,
    colorNeutral5,
    colorNeutral8,
    colorNeutral10,
    bRadius,
    fontHead,
    bpMedium,
    fs12,
    fs18,
    bpSmall) from constants;

.ImplicitGridItem {
    background: colorNeutral8;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: bRadius;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    position: relative;
}

.ImplicitGridItem:hover {
    background: colorNeutral7;
    transition: ease-in 0.2s;
}

.ImplicitGridItem:hover .articleTitle {
    color: colorNeutral10;
    transition: ease-in 0.2s;
}

.articleIcon {
    display: none;
}

.articleInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    width: 100%;
}

.supportingInfo {
    display: flex;
    justify-content: space-between;
}

.articleTitle {
    color: colorNeutral1;
    font-family: fontHead;
    font-size: fs18;
    font-weight: 600;
}

.articleDate {
    color: colorPrimary3;
    font-size: fs12;
}

.articleSection {
    color: colorNeutral5;
}

.implicitImage {
    max-height: 15rem;
    max-width: 15rem;
}

@media only screen and (max-width: bpMedium) {
    .implicitImage {
        display: none;
    }

    .articleIcon {
        bottom: -4rem;
        color: colorNeutral1;
        display: block;
        font-size: 13rem;
        position: absolute;
        opacity: 0.05;
        right: -2rem;
    }

    .articleTitle {
        font-weight: 700;
    }
}
