@import url('https://use.typekit.net/jwl2rvr.css');
@import url('https://use.typekit.net/jwl2rvr.css');

@value colorNeutral9, fontBody from './theme/constants.module.css';

.App {
    background: colorNeutral9;
    font-family: fontBody;
    font-weight: 800;
    overflow-x: hidden;
    padding: 5rem 10rem;
}

@media only screen and (max-width: 950px) {
    .App {
        padding: 3.5rem 7rem;
    }
}

@media only screen and (max-width: 600px) {
    .App {
        padding: 1rem 4rem;
    }
}
