@import url('https://use.typekit.net/jwl2rvr.css');
@import url('https://use.typekit.net/jwl2rvr.css');

@value colorNeutral9, fontBody from './theme/constants.module.css';

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px, 10px/16px (browser default) */
}

.App {
    background: colorNeutral9;
    font-family: fontBody;
    font-weight: 800;
    height: 100vh;
    padding: 5rem 10rem;
}
